%h1 Listing IForm XML Feeds

.quiet Here is a list of all we have retrieved so far from IFormBuilder.

.quiet To get feed updates, specify a Feed URI in the 'Feed From:', then click on the 'Retrieve from IFormBuilder' button.

%br/

%table
  %thead
    %tr
      %th 
        %span{:title => 'Each IForm XML Feed member record has a unique ID'} IForm Record ID
      %th Received At
      %th
        %span{:title => 'Each IForm XML Feed contains one or more records'} Record Count
      %th
        %span{:title => 'To browse the received records in raw format. This helps to see what is coming through over the wire.'} View
      %th
        %span{:title => 'To send the received records to a test destination'} Step 2
  %tbody
    - @iform_xml_feeds.each do |iform_xml_feed|
      %tr
        %td
          = iform_xml_feed.header
        %td
          = iform_xml_feed.created_at
        %td
          = iform_xml_feed.record_count
        %td 
          [
          = link_to 'XML', iform_xml_feed_path(iform_xml_feed, :format => 'xml')
          |
          = link_to 'JSON', iform_xml_feed_path(iform_xml_feed, :format => 'json')
          ]
        %td
          [
          = link_to 'Test', iform_test_iform_test_responses_path(iform_xml_feed.iform_test)
          ]
#footer
  = button_to 'Retrieve from IFormBuilder', iform_xml_feeds_url, {:title => 'Get some more from IFormBuilder feeds', :class => 'blue awesome'}
  %br/
  = form_tag({:action => :update_feed_from}, {:class => 'bp'}) do
    %label
      %span{:title => 'Use this to change the Feed URI'} Feed from:
    = text_field_tag :feed_from, session[:feed_from]
    = submit_tag 'Change URI'
    %hr.space
  Switch Mode: [
  = link_to 'View XML Posts', iform_xml_posts_path, {:title => 'To browse the list of received IForm Post XML'}
  ]