%h1 Listing IForm XML Feeds

%table
  %thead
    %tr
      %th IForm Records
      %th Received At
      %th Record Count
      %th View
      %th
  %tbody
    - @iform_xml_feeds.each do |iform_xml_feed|
      %tr
        %td
          = iform_xml_feed.header
        %td
          = iform_xml_feed.created_at
        %td
          = iform_xml_feed.record_count
        %td 
          [
          = link_to 'XML', iform_xml_feed_path(iform_xml_feed, :format => 'xml')
          |
          = link_to 'JSON', iform_xml_feed_path(iform_xml_feed, :format => 'json')
          |
          = link_to 'DataTable', iform_xml_feed_path(iform_xml_feed, :format => 'html')
          ]
        %td
          [
          = link_to 'STEP 2', show_next_steps_path(iform_xml_feed)
          ]
[
= link_to 'Retrieve from IFormBuilder', retrieve_iform_url
]