%h1 Listing IForm XML Feeds

%table
  %thead
    %tr
      %th IForm Record ID
      %th Received At
      %th Record Count
      %th View
      %th
  %tbody
    - @iform_xml_feeds.each do |iform_xml_feed|
      %tr
        %td
          = iform_xml_feed.header
        %td
          = iform_xml_feed.created_at
        %td
          = iform_xml_feed.record_count
        %td 
          [
          = link_to 'XML', iform_xml_feed_path(iform_xml_feed, :format => 'xml')
          |
          = link_to 'JSON', iform_xml_feed_path(iform_xml_feed, :format => 'json')
          ]
        %td
          [
          = link_to 'STEP 2 - Test', iform_test_iform_test_responses_path(iform_xml_feed.iform_test)
          ]
[
= link_to 'Retrieve from IFormBuilder', iform_xml_feeds_url, :method => 'post'
|
= link_to 'View XML Posts', iform_xml_posts_path
]