%h1 STEP 2. Listing Test Responses

%table
  %thead
    %tr
      %th
        %span{:title => 'Each IForm XML Feed member record has a unique ID'} IForm Record ID
      %th
        %span{:title => 'The test destination that this IForm record was sent to. <br />The destination can be configured using the control on this screen.'} Sent To
      %th
        %span{:title => 'When this record was sent'} Sent At
      %th
        %span{:title => 'When a response was received from the test destination'} Received At
      %th Via
      %th
        %span{:title => 'To browse the response from test destination in raw format'} View Response
      %th
  %tbody
    - @iform_test_responses.each do |iform_test_response|
      %tr
        %td
          = iform_test_response.header
        %td
          = iform_test_response.sent_to
        %td
          = iform_test_response.sent_at
        %td
          = iform_test_response.created_at
        %td
          = iform_test_response.request_via
        %td
          [
          = link_to 'JSON', iform_test_iform_test_response_path(@iform_test, iform_test_response, :format => 'json')
          ]
        %td
          [
          = link_to 'delete', iform_test_iform_test_response_path(@iform_test, iform_test_response), :method => :delete
          ]
= form_tag ({:action => :update_sent_to}, {:class => 'bp'}) do
  %fieldset
    %legend
      Send Test
    %label Send Test Via:
    [
    = link_to 'REST', iform_test_iform_test_responses_url(@iform_test, :format => 'rest'), {:method => 'post', :title => 'Send to the test destination via REST. Record will be sent in the format of JSON'}
    |
    = link_to 'XMLRPC', iform_test_iform_test_responses_url(@iform_test, :format => 'xml'), {:method => 'post', :title => 'Send to the test destination via XMLRPC. Record will be sent in the format of XML'}
    ]
    %br/
    %label
      %span{:title => 'Use this to change the test destination'} Send Test To:
    = text_field_tag :sent_to, session[:sent_to]
    = submit_tag 'Change URI'
%form.bp
  %fieldset
    %legend
      %span{:title => 'To see what is being sent out to the test'} View Request
    [
    = link_to 'XML', iform_test_path(@iform_test, :format => 'xml'), {:title => 'To see the records in raw XML format'}
    |
    = link_to 'JSON', iform_test_path(@iform_test, :format => 'json'), {:title => 'To see the records in raw JSON format'}
    |
    = link_to 'DataTable', iform_test_path(@iform_test, :format => 'html'), {:title => 'To see the records in pretty HTML table'}
    ]
%p
  Go Back:
  [
  = link_to 'View XML Feeds', iform_xml_feeds_path, {:title => 'To browse the list of received IForm XML Feeds'}
  |
  = link_to 'View XML Posts', iform_xml_posts_path, {:title => 'To browse the list of received IForm Post XML'}
  ]