%html
  %head
    %title= content_for?(:title) ? yield(:title) : "IFormTester"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = yield :stylesheets
    = javascript_include_tag :all
    = yield :javascripts
    = csrf_meta_tag
  %body.bp.two-col
    - if flash[:notice]
      %p.success
        = flash[:notice]
    - if flash[:error]
      %p.error
        = flash[:error]
    .container
      = yield
    
    